* {
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.description {
    width: 200px;
    height: 100px;
}

#preview-image {
    width: 320px;
    height: 180px;
}



#notification {
    position: relative;
    height: 40%;
    width: 35%;
    padding: 5px;
    background-color: #C1F7EE;
    top: 10px;
    left: 62%;
    border-radius: 10px;
    font-size: 14px;
    animation: display 1s ease-in-out;
}

@keyframes display {
    from {
        position: fixed;
        text-shadow: 0 0 3px black;
        top: -700px;
    }
}

.remove-button {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    right: 5px;
    cursor: pointer;
    border: none;
}

.hide {
    display: none;
    transition: 1000ms ease-in-out;
}
