* {
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    justify-content: center;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}