* {
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.description {
    width: 200px;
    height: 100px;
}

#preview-image {
    width: 320px;
    height: 180px;
}
