body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-field-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 5px;
}

.search-button {
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  background-color: #555555;
  color: white;
  text-transform: uppercase;
}

.search-button:hover {
  background-color: red;
}

.search-field {
  width: 300px;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #5555;
  padding: 5px;
  margin-right: 1px;
}

.search-field:focus {
  border: 1px solid red;
}

@media screen and (max-width: 425px) {
  .search-field-wrapper {
    margin: 10px 0 20px 0;
  }
  .search-field {
    width: 225px;
  }
}

@media screen and (max-width: 320px) {
  .search-field {
    width: 205px;
  }
  .search-button {
    padding: 10px;
  }
}
