.wrapper {
  padding: 0;
  width: 1148px;
  overflow: hidden;
}

.gallery {
  display: flex;
  position: relative;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  transition: all 0.2s;
  will-change: transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer
}

.gallery.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  background-color: wheat;
}

.item {
  display: flex;
  background: skyblue;
  min-height: 250px;
  min-width: 400px;
  margin: 2em 1em
}

::-webkit-scrollbar {
  width: 12px;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: #555555;
  color: white;
}

.slider-control {
  display: flex;
  justify-content: center;
  position: relative;
}

.next-slider-button,
.prev-slider-button {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #797979;
}

.next-slider-button:hover {
  background-color: red;
}

.prev-slider-button:hover {
  background-color: red;
}

.tooltipNext,
.tooltipPrev {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 25px;
  height: 25px;
  background-color: #256329;
  border-radius: 30px;
  text-align: center;
  margin-top: 3px;
  color: white;
}

.tooltipNext {
  margin-left: 60px;
}

.tooltipPrev {
  margin-left: -60px;
}
/* .tooltipNext {
  margin-left: 60px;
}
.tooltipPrev {
  margin-right: 60px;
} */

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 863px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 574px;
  }
}

@media screen and (max-width: 425px) {
  .wrapper {
    width: 287px;
  }

  .next-slider-button,
  .prev-slider-button {
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }

  .next-slider-button {
    margin-left: 15px;
  }

  .prev-slider-button {
    margin-right: 15px;
  }

  .page {
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }

  .tooltipNext {
    margin-left: 90px;
  }

  .tooltipPrev {
    margin-left: -90px;
  }
}
