* {
  scroll-behavior: smooth;
}

.wrapper {
  padding: 0;
  width: 1148px;
  overflow: hidden;
  /* overflow: hidden; */
}

.gallery {
  display: flex;
  position: relative;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  transition: all 0.2s;
  will-change: transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer
}

.gallery.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  background-color: wheat;
}

.item {
  display: flex;
  background: skyblue;
  min-height: 250px;
  min-width: 400px;
  margin: 2em 1em
}

::-webkit-scrollbar{
  width:12px;
}

.page {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: #555555;
}

.slider-control {
  display: flex;
  justify-content: center;
}

.next-slider-button,
.prev-slider-button {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: none;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 859px;
  }
}

@media screen and (max-width: 425px) {
  .wrapper {
    width: 283px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper{
    width: 570px;
  }
}
