/* .gallery {
  display: flex;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  transition: all 0.2s;
  /* transform: scale(0.98); */
  /* will-change: transform;
  user-select: none;
  cursor: pointer;
}

.gallery.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1.05);
} */
